<div class="w-2/3 mt-12 mb-20 py-8 px-12 mx-auto leading-7 bg-white bg-opacity-60 rounded-xl text-gray-800 shadow-lg">
  <p class="text-center text-xl font-semibold py-8">お問い合わせ</p>
  <p class="text-center">
    <%= link_to "開発者Twitter", "https://twitter.com/losaki_", class:"text-xl text-center hover:text-blue-700" %>
    までお願いいたします。
  </p>
</div>
