<div class="top mb-12 bg-cover p-12">
  <h1 class="text-6xl text-gray-700 px-4 leading-normal mb-8">
    PrefectureQuiz<br>
    日本の風景の写真から<br>
    どこの都道府県かを<br>
    当てるクイズアプリです</h1>
  <div class="text-center bg-blue-100 bg-opacity-50 py-4 rounded">
    〜使い方〜
  <div class="text-center pt-12 m-0">
    <p class="text-lg">①クイズに挑戦しよう！<br>
      まずは投稿されたクイズに挑戦してみよう！<br>
      下のリンクから、気になる写真を選び、解答してみよう！<br>
      <br>
      <%= link_to "クイズ一覧", quizzes_path, class: "p-2 border bg-gray-100 bg-opacity-50 hover:text-gray-900 hover:bg-gray-200 hover:bg-opacity-80 rounded-xl" %>
    </p>
  </div>
  <div class="text-center pt-6 pb-16">
    <p class="text-lg">②クイズを投稿しよう！<br>
    お気に入りの場所、知ってほしい場所などをクイズにしてみよう！<br>
    手順は簡単、写真を選び、どの都道府県か選択するだけ！<br>
    ぜひ投稿してみよう！<br>
    ※投稿には会員登録が必要となります。
    </p>
  </div>
  </div>
</div>
