<p class="bg-teal-100 border-teal-500 text-teal-700 bg-orange-100 border-orange-500 text-orange-700 bg-yellow-100 border-yellow-500 text-yellow-700 bg-blue-100 border-blue-500 text-blue-700"></p>
<div class="border-t border-b p-4 rounded-sm shadow <%= @color %>" role="alert">
  <p class="font-bold"><%= @data %></p>
</div>
