<% content_for(:title, "新規登録") %>
<div class="flex bg-gray-50 w-11/12 md:w-1/2 mt-6 md:mt-12 mb-6 md:mb-20 p-8 flex-col items-center text-center mx-auto border-4 rounded-lg">
  <h1 class="text-gray-900 text-xl font-medium title-font mb-12">新規登録</h1>
  <%= render "form", title: "ユーザー登録" %>
</div>
