<% if object.errors.any? %>
  <div id="error_messages" class="bg-orange-100 text-orange-700">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
