<footer class="text-gray-600 bg-white body-font bottom-0 w-full fixed">
  <div class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900 w-2/5">
      <span class="ml-3 text-xl text-gray-600">PrefectureQuiz</span>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Losaki_</p>
    </a>
    <div class="w-3/5 flex justify-end">
      <%= link_to "利用規約", "terms_of_service", class: "mx-8 hover:text-gray-900" %>
      <%= link_to "プライバシーポリシー", "privacy_policy", class: "mx-8 hover:text-gray-900" %>
      <%= link_to "お問い合わせ", "contact", class: "mx-8 hover:text-gray-900" %>
    </div>
  </div>
</footer>
