<footer class="text-gray-600 bg-white body-font bottom-0 left-0 w-full md:fixed">
  <div class="container md:px-5 py-4 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900 md:w-2/5">
      <span class="ml-3 text-xl text-gray-600">PrefectureQuiz</span>
      <p class="text-sm text-gray-500 ml-4 pl-4 border-l-2 border-gray-200 md:py-2 mt-0">© 2022 Losaki_</p>
    </a>
    <div class="md:w-3/5 md:flex md:flex-row md:justify-end text-center">
      <%= link_to "利用規約", terms_of_service_path, class: "md:mx-8 hover:text-gray-900" %>
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "md:mx-8 hover:text-gray-900" %>
      <%= link_to "お問い合わせ", contact_path, class: "md:mx-8 hover:text-gray-900" %>
    </div>
  </div>
</footer>
